@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for horizontal lists */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body {
  background-color: #121212;
  color: #FFFFFF;
  overscroll-behavior: none;
}